body {
  margin: 0;
  min-width: 1366px;

  font-family: "Montserrat", Arial, sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  font-style: normal;
  color: #242424;

  background-color: #e5e5e5;
}

a {
  text-decoration: none;
}

.container {
  width: 760px;
  margin: 0 auto;
  padding: 60px 303px;
  background-color: #ffffff;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  list-style: none;
}

.breadcrumbs li {
  position: relative;
  display: inline;
  margin-right: 20px;

  font-size: 16px;
  line-height: 20px;
}

.breadcrumbs-link {
  color: inherit;
  padding: 2px;
  opacity: 1;
}

.breadcrumbs-link:hover,
.breadcrumbs-link:focus {
  opacity: 0.7;
}

.breadcrumbs li:last-child {
  opacity: 0.6;
}

.breadcrumbs li + li::before {
  content: "";

  position: absolute;
  width: 10px;
  height: 10px;
  top: 5px;
  left: -17px;
  transform: rotate(45deg);
  background-color: #006528;
  opacity: 1;
}

.title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 32px;
  line-height: 42px;
  font-weight: 600;
}

.intro {
  margin: 0;
  margin-bottom: 35px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 500;
}

.article-nav {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  list-style: none;
  counter-reset: num;
}

.article-nav li {
  position: relative;
  margin-bottom: 12px;
  counter-increment: num;
}

.article-nav li::before {
  content: counter(num) ".";
  position: absolute;
  left: 0;
  top: 0;
}

.article-nav a {
  color: inherit;
  padding-left: 27px;
  text-decoration: underline;
}

h2 {
  margin: 0;
  margin-bottom: 25px;
  font-size: 24px;
  line-height: 31px;
  font-weight: 600;
}

p {
  margin: 0;
  margin-bottom: 10px;
}
